# i 表示片段可在句中被触发。默认是只有在前面有多个空格或者在行首时才会被触发。
# A 表示片段会被自动触发
# w 表示片段只会在关键词为单独单词的情况下被触发
# r 表示关键词使用正则表达式。正则表达式必须用 两个引号' '包围
# b 表示只有在一行的开头才会被触发
#=================================================================================================


